/*
    With this selector, we are specifying that all objects use
    the border-box model (not the content-box model)
*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
    Here we are using a 'fancy' css selector that is 
    specifying if the class of an item starts with
    'grid-col-', then we should apply the styling listed
*/
[class^='grid-col-'] {
    float: left;
    padding: 0; 
    text-align: center; /* center the content in this block */
}

.grid-col-8of100 {
    width: 8%;
}

.grid-col-100of100 {
    width: 100%;
}

.grid-col-25of100 {
    width: 25%;
}

.grid-col-10of10 {
    width: 100%;
}

.grid-col-3of10 {
    width: 30%;    
}

.grid-col-4of10 {
    width: 40%;    
}

.grid-col-30of100 {
    width: 30%;
}

.grid-col-14of100 {
    width: 14%;
}

.grid-col-33of100{
    width: 33%;
}


/*
    Here using @media queries, we are specifying when the display
    has a width less than 50em it should collapse the 5/10 columns 
    into one stack (hence width: 100%)
*/


@media (max-width: 60em) {

    .grid-col-8of100 {
        width: 100%;
        padding-bottom: 0.5em;
    }

}


@media (max-width: 50em) {

    .grid-col-10of10 {
        width: 100%;
    }

}


@media (max-width: 80em) {

    .grid-col-3of10 {
        width: 100%;
    }
}


@media (max-width:60em) {

    .grid-col-4of10{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: auto; 
    }
}


@media (max-width: 62em) {

    .grid-col-33of100{
        width: 100%;
    }

    article {
        text-align: center;
        display: block;
    }
}


@media (max-width:57em) {

    .topmenu{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .grid-col-25of100 {
        width: 100%;
        padding-bottom: 0.8em;
    }

}

@media (max-width:53em) {

    .textmiddle{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    .copyright{
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 45%;
    }
}

@media (max-width:40em) {

    .grid-col-4of10{
        width: 100%;

    }
}


@media (max-width: 41em) {

    .copyright{
        margin-top: 65%;
    }
}


@media (max-width: 32em) {

    .copyright{
        margin-top: 90%;
    }
}

@media (max-width: 28em) {

    .copyright{
        margin-top: 110%;
    }
}

@media (max-width: 25em) {

    .copyright{
        margin-top: 130%;
    }
}


.grid:after {
    content: "";
    display: block;
    clear: both;
}