*, *:after, *:before{
    box-sizing:border-box;
}

body{
    color:black;
    background-color:white;
    font-size: 16px;
    color:#929595;
}

h1{
   font-size: 3.3rem;
   font-weight: 700;
   font-family: "AustieBostKittenKlub";
   text-align: left;
}

h2{
    text-align: left;

    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-family: "Oswald-Regular";
    font-size: 1.8rem;
    font-weight: bold;
}


p,code,figcaption{
    font-size: 1rem;
    font-family: "Oswald-Light";
/*  font-family: thin;*/
    /* first # is top and bottom, second # is left and right margin */
    font-weight: lighter;
    text-align: left;
}


 /*Top Area*/

.topimage{
    display: block;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    z-index: -1;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}


.pmiddle{
    font-size: 1.8rem;
    font-family: "Oswald-Regular";
    text-align: left;
    font-weight: bold;
/*    color:  #929595;*/
/*    color: #F39873;*/
    color: white;
    opacity: 1;
    padding-left: 1.5em;
    padding-right: 1.5em;

}

.textmiddle{
    z-index: 1;
    margin-left: 8.8%;
    margin-right: 30%;
    margin-top: -38%;
    position: absolute;
    max-width: 50em;
    min-width: 20em;
    background-color: rgba(146, 149, 149, 0.6);
    opacity: 1;
}


.pmiddletext{
    font-family: "Oswald-Light";
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
/*    color:  #929595;*/
/*    color: #F39873;*/
    color: white;
    opacity: 1;
    padding-left: 2em;
    padding-right: 2em;
}



.coltext_bottom{
    padding-left: 10em;
    margin-top: 10em;
    margin: center;
}



p.prightstext{
    font-size: 1.1rem;
    font-family: Abadi MT Condensed Light;
/*  font-family: thin;*/
/*  first # is top and bottom, second # is left and right margin */
    margin: 0.25rem 0.5rem;
    /*background: #f3e9c2;*/
    text-align: left;
}


 .information_top{
    margin: right;
 }
/*Middle Area closed*/




/*rights Area open*/

.homebottom{     
    margin-top: 5em;
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    margin-left: -5em;
    width: 150%;
}

.squareup{
    height: 10%;
    width: 100%;
    /*background-color:#C2C0BC;*/
    border-style: dashed;
    border-width: 0.1rem;
    /*border-color: #929595;*/
    margin-top: 5em;
}

.squaredown{
    height: 35%;
    width: 100%;
    /*background-color:#C2C0BC;*/
    border-style: dashed;
    border-width: 0.1rem;
    border-color: #929595;
}


.rights_left{
    margin-top: -7em;
    margin-left: 15em;
    border-style: dotted;
    border-width: 0.1rem;
    border-color: #929595;
    background-color: #f1e4d2;


}

.rights_left2{
    margin-top: -7em;
    margin-left: 15em;

    border-style: dotted;
    border-width: 0.1rem;
    border-color: #929595;
    background-color: red;
}


.p-payment-method{
    font-size: 1.5rem;
    font-family:Abadi MT Condensed Extra Bold;
    text-align: left;
    display: inline-block;
    color: #382843;
/*  margin: 0.25rem 0.5rem;*/
}

/*rights Area Closed*/



.col-image-cool{
    position: absolute;
    top:-16em;
    right:30em;
}



.pstyle{
    font-size: 0.9rem;
    font-family: Abadi MT Condensed Light;
/*  font-family: thin;*/
/*  first # is top and bottom, second # is left and right margin */
    margin: 0.25rem 0.5rem;
/*  try make a paragraph half-page length*/
    width: 50%
}



.psubtitle{
    font-size: 1.2rem;
    font-family:Abadi MT Condensed Extra Bold;
/*  font-family: thin;*/
/*  first # is top and bottom, second # is left and right margin */
    position: relative;
    left:1em;
}


.link{
    font-family: Existence;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
    color: #F39873;
    font-weight: bold;
}


.link:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.3rem;
}


.button{
    display: inline-block;
    font-family: MTF Sweet Cheeks;

    text-decoration: none;
}

nav .button{
    background-color: #F39873;
    color: white;
/*  border-radius: 0.25rem;*/
/*  margin: 0.5rem 0.25rem 0.75rem 0.8rem;*/
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
    font-family: MTF Sweet Cheeks;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
}

nav .button:hover{
    background-color: #F39873;
    color: #C2BFBB;
    text-decoration: none;
}

a{
    text-decoration: none;
}



/*responsive image styles*/
img{
    background-color: rgba(255, 237, 221, 0.3);
}

.mainpage-img{
    float: left;
}


figure{
    margin: 0;
}

form{
    background-color: #FFFDFA;
    display: inline-block;
    padding: 1rem;
    width: 40%
    font-family: Abadi MT Condensed Light;
}

label{
    float: left;
    text-align: left;
    margin-right: 0.5em;
    display: block
    font-size: 0.8rem;
    font-family: MTF Sweet Cheeks;
/*  font-family: thin;*/
/*  first # is top and bottom, second # is left and right margin */
    margin: 0.25rem 0.5rem;
}

article {
    text-align: left;
/*  border: 2px solid #929595;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}


/* set top main navigation layout */
 .topmenu{
    margin-left: 8em;
    margin-top: 0em;
    margin-right: 8em;
 }

/* set layout for three login buttons */
 .login-methods{
    margin-right: 8em;
    margin-top: 3%;
    margin-left: 8em;
    margin-bottom: 2em;
 }


.onpage-button-nav, .onpage-button-nav:visited{
    display: inline-block;
    background-color:  #F39873;
/*  color: #F39873;*/
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right:auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;

    font-size: normal;
    font-family: "Oswald-Regular";
    font-size: 1.6em;
    text-align: center;
/*  opacity: 0.7;*/
}

.onpage-button-nav:hover, .onpage-button-nav:active, .onpage-button-nav:focus{
/*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7em;
/*  opacity: 0.7;*/
}

.login-button-nav, .login-button-nav:visited{
    display: inline-block;
    /*background-color:  #F39873;*/
    color: #F39873;
    /*border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
/*  border-radius:10px;*/
/*  border-radius: 0.25rem;*/
/*    font-family: BAD SPIRIT;*/
    font-size: 1.2em;
    text-align: center;
    font-size: normal;
    font-family: "Oswald-Regular";
    float: right;
}

.login-button-nav:hover, .login-button-nav:active, .login-button-nav:focus{
/*  border-radius: 0.25rem;*/
/*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}


.button-nav, .button-nav:visited{
    display: inline-block;
    /*background-color:  #F39873;*/
    color: #F39873;
    margin-left: auto;
    margin-right:auto;
    /*border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
/*  border-radius:10px;*/
/*  border-radius: 0.25rem;*/
/*    font-family: BAD SPIRIT;*/
    font-size: normal;
    font-family: "Oswald-Regular";
    font-size: 1.6em;
    text-align: center;
}

.button-nav:hover, .button-nav:active, .button-nav:focus{
    /*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7em;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}



.payment-figure{
    margin: 0;
    text-align: left;
}


.specialprice-title{
    font-family: "Oswald-Regular";
    font-size: 1.4rem;
    font-weight: bold;
}

.about-story{
    margin-top: 5em;
    margin-left: 8em;
    margin-right: 8em;
}

.copyright{
    font-size: 0.9rem;
    font-family: "Oswald-Light";
    font-weight: lighter;
    text-align: left;
    margin-right: 8em;
    margin-top: 3em;
    margin-left: 8em;
}

.topimage-layout{
    margin-top: 1%;
}

.myname{
    display: inline-block;
    font-size: 1.2rem;
    font-family: "Oswald-Light";
    font-weight: bold;
    text-align: left;
    float: left;
    color: #929595;
}