



*, *:after, *:before{
    box-sizing:border-box;
}

body{
    color:black;
    background-color:white;
    font-size: 16px;
    color:#929595;
}

h1{
   font-size: 3.3rem;
   font-weight: 700;
   font-family: Austie Bost Kitten Klub;
   text-align: left;
/* color: #F39873;*/
/* color: white;*/
}

h2{
    text-align: left;

    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-family:Oswald;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: -2%;
}

h3{
    text-align: left;

    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-family:Oswald;
    font-size: 1.4rem;
    font-weight: bold;
}

h4{
   font-size: 1.1rem;
   font-size: normal;
   font-family: Courier New, sans-serif;
}

h5{
   font-size: 0.2em;
   font-size: normal;
   font-family: Courier New, sans-serif;
   background-color:  #929595;
}





p,code,figcaption{
    font-size: 1rem;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
}

.address-text{
    font-size: 1rem;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
    width: 80%;
    margin-top: -0.3em;
}

.contact-text{
    font-size: 1rem;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
    margin-top: -0.3em;
}

.location{
    margin-top: 1.1em;
}


.link{
    font-family: Existence;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
/*  font-family:Oswald;*/
    font-size: 1.0rem;
    font-weight: lighter;
    text-align: center;
}


.answer{
    display: inline-block;
    font-size: 1em;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
    float:left;
    color: #929595;
    margin-top: -1%;


}

.pstyle{
    font-size: 0.9rem;
    font-family: Oswald;
/*  font-family: thin;*/
    /* first # is top and bottom, second # is left and right margin */
    /*margin: 0.25rem 0.5rem;*/
/*  try make a paragraph half-page length*/
    font-weight: lighter;
    display: inline;
}

.pprice{
    display: inline-block;
    font-size: 1.2rem;
    font-family: Oswald;
    /*text-align: center;*/
    font-weight: bold;
    text-align: left;
    /*float: left;*/
    /*margin: 0.25rem 0.5rem;*/
    float:left;
    /*margin-top: 4%;*/
    /*padding-top:0.75em;*/
    /*padding-right: 4em;*/
    /*background-color: pink;*/
    /*margin-left: 3%;*/
    color: #929595;
    margin-top: 1.2%;
}

.pprice_line1{
    display: inline-block;
    font-size: 1.2rem;
    font-family: Oswald;
    /*text-align: center;*/
    font-weight: bold;
    text-align: left;
    float:left;
    color: #929595;
    margin-top: 6%;

}



.pptitle{
    display: inline-block;
    /*margin-left: 5%;*/
    margin-right:auto;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-family:Oswald;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

.logo-name{
    margin-left: auto;
    margin-right: auto;
/*  margin-top: 5em;*/
}


.topimage{
  display: block;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    z-index: -1;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}


.subtitle{
    display: inline-block;
    /*background-color:  #F39873;*/
    color: #F39873;
    margin-left: auto;
    margin-right:auto;
    /*border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
/*  padding: 0.3em 0.3em;*/
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
/*  border-radius:10px;*/
/*  border-radius: 0.25rem;*/
/*    font-family: BAD SPIRIT;*/
    font-family:Oswald;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

/*Top Area closed*/



 .pmiddle{
    display: inline-block;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-size: 1.8rem;
    font-family:Oswald;
    text-align: left;
    font-weight: bold;
/*    color:  #929595;*/
/*    color: #F39873;*/
    color: #929595;
    opacity: 1;
    text-decoration: none;
   
   



    
   /* width:100%;*/
   
    font-size: 1.6rem;
    
   
    padding-top: 0.7em;
}




.submit-button-nav{
    display: inline-block;
    background-color: #F39873;
    color: white;

    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;

    font-family:Oswald;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;

    margin-left: 1em;
    margin-right: 8%;
    width: 4em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    float: right;
}

.reset-button-nav{
    display: inline-block;
    background-color: #F39873;
    color: white;

    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;

    font-family:Oswald;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    width: 4em;

    margin-top: 0.3em;
    margin-bottom: 0.3em;
    float: right;
}



nav .button:hover{
    background-color: #F39873;
    color: #C2BFBB;
    text-decoration: none;
}



label{
    font-size: 1.4rem;
    font-family: Oswald;
    font-weight: bold;
    text-align: left;
}


input.submit,input.reset{

/*    background-color: #F39873;
    text-decoration: none;
    margin: 0.25rem 0.5rem;
    font-size: 1.2em;
    border-radius: 0.25rem;
    font-family: Oswald;
    float: left;
    margin-top: 13%;*/
   
}

input.text,input.textarea{
    /*background-color: #F39873;*/
/*    background-color: #D3D1D2;
    color: white;
    border-radius: 0.25rem;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
    display: block;
    width: 200px;*/
}

.text-length{
    font-size: 1em;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
    display: inline-block;
    background-color: #EDEBEC;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
    color: white;
    /*width: 300px;*/

}

input.submit:hover,input.reset:,input.text:hover,textarea:hover{
/*    background-color: #FCBCA7;
    color: white;
    text-decoration: none;
    border-radius: 0.2rem;*/
}

input.submitcomment{
/*    background-color: #F39873;
    color: white;*/
/*  border-radius: 0.25rem;*/
/*    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
    font-size: 1.2em;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
}

textarea{
    display: inline-block;
    font-family: Oswald;
    font-weight: lighter;
    /*width: 37.5em;*/
    width: 37.5em;

    height: 20rem;
    min-width: 10rem;
    min-height: 10rem;
    font-size: 1em;
    text-align: left;
    /*display: block;*/
    resize: width;
    background-color: #EDEBEC;
    margin-top: 1%;
    margin-left: 1.5%;
}




article {
    margin-left: -45%;
    margin-top: 3%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*display: inline-block;*/
}

/* set top main navigation layout */
 .topmenu{
    margin-left: 8em;
    margin-top: 0em;
    margin-right: 8em;
    z-index: 1;
 }

/* set layout for three login buttons */
 .login-methods{
    margin-right: 8em;
    margin-top: 3%;
    margin-left: 8em;
    margin-bottom: 2em;
 }

 .payment-methods-layout{
    margin-right: 8em;
    margin-top: 15%;
    margin-left: 8em;
 }


.dd {
    position: relative;
/*  max-width: 20em;*/
}

.dd-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Just giving our drop-down items some styling */
.dd-list li a {
    display: block;
/*  margin: 0.1em 0;*/
/*  padding: 0.5em 0.7em;*/
    color: #F39873;
    margin-left: auto;
    margin-right:auto;

    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;

    font-size: normal;
    font-family:Oswald;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.5em;
/*  background-color:  #F39873;*/
}

.dd-list li a:hover{
/*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
}

.dd-button {
    display: inline-block;
    color: #F39873;
    margin-left: auto;
    margin-right:auto;

    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;

    font-size: normal;
    font-family:Oswald;
    font-size: 1.7em;
    text-align: center;
}

.dd-button:hover {
/*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
}

.onpage-button-nav, .onpage-button-nav:visited{
    display: inline-block;
    background-color:  #F39873;
/*  color: #F39873;*/
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right:auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;

    font-size: normal;
    font-family:Oswald;
    font-size: 1.6em;
    text-align: center;
/*  opacity: 0.7;*/
}

.onpage-button-nav:hover, .onpage-button-nav:active, .onpage-button-nav:focus{
/*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7em;
/*  opacity: 0.7;*/
}

.login-button-nav, .login-button-nav:visited{
    display: inline-block;
    /*background-color:  #F39873;*/
    color: #F39873;
    /*border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
/*  border-radius:10px;*/
/*  border-radius: 0.25rem;*/
/*    font-family: BAD SPIRIT;*/
    font-size: 1.2em;
    text-align: center;
    font-size: normal;
    font-family:Oswald;
    float: right;
}

.login-button-nav:hover, .login-button-nav:active, .login-button-nav:focus{
/*  border-radius: 0.25rem;*/
/*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}


.button-nav, .button-nav:visited{
    display: inline-block;
    /*background-color:  #F39873;*/
    color: #F39873;
    margin-left: auto;
    margin-right:auto;
    /*border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
/*  border-radius:10px;*/
/*  border-radius: 0.25rem;*/
/*    font-family: BAD SPIRIT;*/
    font-size: normal;
    font-family:Oswald;
    font-size: 1.6em;
    text-align: center;
}

.button-nav:hover, .button-nav:active, .button-nav:focus{
    /*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7em;
}



.mapimage{
     display: block;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    z-index: -1;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 1.5em;
/*  min-width: 25.6em;
    min-height: 16em;*/
/*  padding: 0.3em 0.3em;*/
}


.logo-image-button, .logo-image-button:visited{
/*  add background image for the cat foods product list image button */
    background: transparent url(../img/catlogo.png) no-repeat;
/*  background-position: center;*/
/*  background-size: 100% 160%;*/
/*  position: relative;*/
    display: inline-block;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
    margin-bottom: 2em;
    width: auto;
    height: auto;
    min-width: 26.4em;
    min-height: 16em;
    z-index: 3;
    float: left;
    /*opacity: 0.9;*/
    /*filter: alpha(opacity=40);*/

/*  background-color:  #F39873;*/
/*    color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-family: MTF Sweet Cheeks;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
}

.logo-image-button:hover, .logo-image-button:active, .logo-image-button:focus{
/*  background-color: #FCBCA7;
    color: #C2C0BC;*/
/*  border-radius: 0.25rem;*/
    opacity: 0.5;
}



 .image-button-nav-brands-lists, .image-button-nav-brands-lists:visited{
    /*  add background image for the cat foods product list image button */
    background: transparent url(../img/brands_lists.png) no-repeat;
    background-position: center center;
    display: inline-block;
    position: relative;

/*  background-color:  #F39873;*/
    color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    text-align: center;
}

.image-button-nav-health-considerations, .image-button-nav-health-considerations:visited{
    /*  add background image for the cat toys product list image button */
    background: transparent url(../img/health_considerations.png) no-repeat;
    background-position: 35% 40%;
    display: inline-block;
    position: relative;

/*  background-color:  #F39873;*/
    color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    text-align: center;
}

.image-button-nav-flavor, .image-button-nav-flavor:visited{
    /*  add background image for the cat toys product list image button */
    background: transparent url(../img/flavor.png) no-repeat;
    background-position: 25% 10%;
    display: inline-block;
    position: relative;

/*  background-color:  #F39873;*/
    color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    text-align: center;
}

.image-button-nav-brands-lists:hover, .image-button-nav-brands-lists:active, .image-button-nav-brands-lists:focus{
    background-color: #FCBCA7;
    color: #C2C0BC;
    opacity: 0.5;
/*    border-radius: 0.25rem;*/
}

.image-button-nav-health-considerations:hover, .image-button-nav-health-considerations:active, .image-button-nav-health-considerations:focus{
    background-color: #FCBCA7;
    color: #C2C0BC;
    opacity: 0.5;
/*    border-radius: 0.25rem;*/
}

.image-button-nav-flavor:hover, .image-button-nav-flavor:active, .image-button-nav-flavor:focus{
    background-color: #FCBCA7;
    color: #C2C0BC;
    opacity: 0.5;
/*    border-radius: 0.25rem;*/
}

.payment-figure{
    margin: 0;
    text-align: left;
}


.contact-us-contactus{
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: -2%;
  margin-top: 5em;
}

.middleline{
    width:1%;
    height:73%;
    background-color: #929595;
}

.top5questions{
    margin-top: 5em;
    margin-left: 8em;
    margin-right: 8em;
}

.contact-us-form{
/*  margin-left: 8em;
    margin-right: 8em;
    margin-top: 3%;*/
}

.copyright{
    font-size: 0.9rem;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
    margin-right: 8em;
    margin-top: 3em;
    margin-left: 8em;
}