*, *:after, *:before{
	box-sizing:border-box;
}

body{
	color:black;
	background-color:white;
	font-size: 16px;
	color:#929595;
}

h1{
   font-size: 2.8rem;
   font-weight: 700;
   margin-bottom: 0;
   font-family: Austie Bost Kitten Klub;
}

h2{
   font-size: 1.2rem;
   font-size: normal;
   font-family:Janda Safe and Sound;
   margin-left: 6.5em;
   margin-right: 6.5em;
   text-align: left;
   position: relative;
   margin-top: 3em;
}

h3{
   font-size: 1.2rem;
   font-size: normal;
   font-family:Janda Safe and Sound;
   margin-left: 6.5em;
   margin-right: 6.5em;
   text-align: left;
   position: relative;
   margin-top: 1.5em;
}

h4{
   font-size: 1.1rem;
   font-size: normal;
   font-family: Courier New, sans-serif;
}

h2 a{
   font-style: italic;
   font-size: 1.8em;
}

ul,ol{
   font-size: 1.2rem;
   font-family: Abadi MT Condensed Light;
}

p,code,figcaption{
	font-size: 1rem;
	font-family: Abadi MT Condensed Light;
	margin: 0.25rem 0.5rem;
}

.pstyle{
	font-size: 1rem;
	font-family: Abadi MT Condensed Light;
/*	font-family: thin;*/
	/* first # is top and bottom, second # is left and right margin */
	margin: 0.25rem 0.5rem;
/*	try make a paragraph half-page length*/
    display: inline;
}

.pprice{
	font-size: 1.2rem;
	font-family:Abadi MT Condensed Extra Bold;
/*	font-family: thin;*/
	/* first # is top and bottom, second # is left and right margin */
	margin: 0.25rem 0.5rem;
}

.psubtitle{
	font-size: 0.9rem;
	font-family:Abadi MT Condensed Extra Bold;
/*	font-family: thin;*/
	/* first # is top and bottom, second # is left and right margin */
	margin: 0.25rem 0.5rem;
}

.p-payment-method{
	font-size: 1.5rem;
	font-family:Abadi MT Condensed Extra Bold;
	text-align: left;
	display: inline-block;

}

.link{
	font-size: 0.9rem;
	font-family: Helvetica Neue Light, Bernard MT Condensed;
	color: rgb(0,0,255);
	margin-left: 8.5em;
}

.button{
	display: inline-block;
	font-family: MTF Sweet Cheeks;

	text-decoration: none;
}

nav .button{
	background-color: #F39873;
	color: white;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
    font-family: MTF Sweet Cheeks;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
}

nav .button:hover{
	background-color: #F39873;
	color: #C2BFBB;
	text-decoration: none;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: orange;
}

/*responsive image styles*/
img{
    height: auto;
    max-width: auto;
}

figure{
	margin: 0;
}

form{
	background-color: #FFFDFA;
	display: inline-block;
	padding: 1rem;
	width: 40%
    font-family: Abadi MT Condensed Light;
}

label{
    float: left;
    text-align: left;
    margin-right: 0.5em;
    display: block
    font-size: 0.9rem;
	font-family: MTF Sweet Cheeks;
	margin: 0.25rem 0.5rem;
}

input.submit,input.reset{

	background-color: #F39873;
	color: white;
	margin: 0.25rem 0.5rem;
	padding: 0.25rem 0.45rem;
	font-size: 1.2em;
	border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
    float: right;
}

input.text,textarea{
	background-color: #F39873;
	color: white;
	margin: 0.25rem 0.5rem;
	padding: 0.25rem 0.45rem;
}

input.submit:hover,input.reset:,input.text:hover,textarea:hover{
	background-color: #FCBCA7;
	color: white;
	text-decoration: none;
}

input.submitcomment{

	background-color: #F39873;
	color: white;
/*	border-radius: 0.25rem;*/
	margin: 0.25rem 0.5rem;
	padding: 0.25rem 0.45rem;
	font-size: 1.2em;
	border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
    float: right;
}

input.submitcomment{

	background-color: #FCBCA7;
	color: white;
	text-decoration: none;

}


input{
	font-family: Abadi MT Condensed Light;
	background-color: white;
	color: white;

}

textarea{
	font-family: Abadi MT Condensed Light;
	background-color: white;
	color: white;
	width: 100%;
	height: 80%;
	min-width: 40em;
	min-height: 15em;
}

input:hover{
	background-color: #FCBCA7;
	color: #C2C0BC;
}

article {
	text-align: left;
/*  border is hided for now */
/*	border: 3px solid #929595;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	padding: 0em 18em 0em 3em;
	margin-left: 8em;
	margin-right: 8em;
}

.login-button-nav, .login-button-nav:visited{
	display: inline-block;
	background-color:  #F39873;
	color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
	padding: 0.3em 0.3em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	width:100%;
	font-family: MTF Sweet Cheeks;
	font-weight: normal;
	font-size: 1em;
	text-align: center;

	float: right;
}

.login-button-nav:hover, .login-button-nav:active, .login-button-nav:focus{
	background-color: #FCBCA7;
	color: #C2C0BC;
}

.button-nav, .button-nav:visited{
	display: inline-block;
	background-color:  #F39873;
	color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
	padding: 0.3em 0.3em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	width:100%;
	font-family: MTF Sweet Cheeks;
	font-weight: normal;
	font-size: 1.2em;
	text-align: center;
}

.button-nav:hover, .button-nav:active, .button-nav:focus{
	background-color: #FCBCA7;
	color: #C2C0BC;
}

.onpage-button-nav, .onpage-button-nav:visited{
	display: inline-block;
	background-color:  #F39873;
	color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
	padding: 0.3em 0.3em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	width:100%;
	font-family: MTF Sweet Cheeks;
	font-weight: normal;
	font-size: 1.2em;
	text-align: center;
	opacity: 0.7;
}

.onpage-button-nav:hover, .onpage-button-nav:active, .onpage-button-nav:focus{
	background-color: #FCBCA7;
	color: #C2C0BC;
	opacity: 0.7;
}

/* set top main navigation layout */
 .topmenu{
    margin-left: 8em;
	margin-top: 7em;
	margin-right: 8em;
 }

/* set layout for three login buttons */
 .login-methods{
 	margin-right: 8em;
	margin-top: 2em;
	margin-left: 8em;
 }

 #title{
	margin-right: 3em;
	margin-top: 1.5em;
	margin-left: 3em;
 }

 .contact-text{
 	margin-right: 0em;
	margin-top: 2em;
	margin-left: 0em;
 }

 .article-border{
    text-align: left;
	border: 3px solid #929595;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 8em;
	margin-right: 8em;
	padding: 2em 4em 2.5em 3em;
 }

 #contact-information{
/* 	margin-top: 3em;*/
 	margin-bottom: 3em;
 	margin-left: 3em;
	margin-right: 3em;
 }

 #FAQ{
 	margin-right: 7em;
	margin-left: 7em;
	margin-bottom: 3em;
 }