*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='grid-col-'] {
	float: left;
	padding: 0; 
	text-align: center; 
}


.grid-col-2of10{
	width: 20%;
}

.grid-col-8of100 {
    width: 8%;
}

.grid-col-100of100 {
    width: 100%;
}

.grid-col-25of100 {
    width: 25%;
}

.grid-col-10of10 {
    width: 100%;
}

.grid-col-3of10 {
    width: 30%;    
}

.grid-col-4of10 {
    width: 40%;    
}

.grid-col-30of100 {
    width: 30%;
}

.grid-col-14of100 {
    width: 14%;
}

.grid-col-33of100{
    width: 33%;
}

.grid-col-40of100{
    width: 40%;
}


.grid-col-55of100{
	width: 50%;
}

.grid-col-20of100{
	width: 20%;
}

.grid-col-2of100{
	width: 2%;
}

.grid-col-15of100{
	width: 15%;
}


@media (max-width: 57em) {

    .grid-col-25of100 {
        width: 100%;
        padding-bottom: 0.8em;
    }
}

@media (max-width: 60em) {

    .grid-col-8of100 {
        width: 100%;
        padding-bottom: 0.5em;
    }
}


@media (max-width: 50em) {

    .grid-col-10of10 {
        width: 100%;
    }
}


@media (max-width:60em) {

    .grid-col-4of10{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: auto; 
    }
}



@media (max-width: 57em) {

    .payment-methods-layout{
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 5em;
    }

}

@media (max-width: 62em) {

    .grid-col-40of100 {
        width: 100%;
        margin-left: auto;
        margin-left: auto;
    }

    .grid-col-20of100{
        width: 100%;
        margin-left: auto;
        margin-left: auto;
    }

    .grid-col-33of100{
        width: 100%;
    }

    article {
        text-align: center;
        display: block;
    }
}


@media (max-width:60em) {

    .topmenu{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 5%;
        margin-bottom: 10%;
    }  
}

@media (max-width:45em) {

    .topmenu{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

@media (max-width:40em) {

    .grid-col-4of10{
        width: 100%;
    }
}

@media (max-width:87em) {

    .submit-button-nav{
        margin-left: 1em;
        margin-right: 1%;
    }

    .reset-button-nav{
        margin-right: 1%;
    }
}


@media (max-width:71em) {

    .text-length{
        width: 100%;
    }

    textarea{
        width: 100%;
    }

    .contact-us-form{
        margin-left: -1.5em;
        margin-right: 8em;
    }

    .contact-us-contactus{
        margin-left: 8em;
        margin-right: 8em;
        margin-bottom: -2%;
        margin-top: 5em;
    }

    .grid-col-15of100{
        display: none;
        visibility: collapse;
        width: 0;
        height: 0;
        color: white;
    }

    .grid-col-55of100{
        width: 85%;
        margin-left: 9em;
        margin-right: 9em;
    }

    .grid-col-3of10{
        width: 100%;
    }

    .submit-button-nav{
        margin-left: 1em;
        margin-right: -1.5%;
    }

    .reset-button-nav{
        margin-right: 1%;
    }
}


@media (max-width:55em) {

    .grid-col-55of100{
        width: 80%;
    }
}

@media (max-width:45em) {

    .grid-col-55of100{
        width: 75%;
    }
}



@media (max-width:35em) {
    .pptitle{
        display: block;
        width: 100%;
        float: left;
        text-align: left;
        margin-bottom: 0em;
    }

    p{
        float: left;
        text-align: left;
        display: inline-block;
    }

    .pprice_line1{
        margin-top: 2em;
    }

    .pprice{
        margin-top: 2em;
    }

    .contact-us-contactus{
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: -2%;
        margin-top: 5em;
    }

    .top5questions{
        margin-left: 3em;
        margin-right: 3em;
    }

    .copyright{
        margin-left: 3em;
        margin-right: 3em;
    }

    .grid-col-55of100{
        width: 110%;
        margin-left: 3em;
        margin-right: 3em;
    }
}


.grid:after {
	content: "";
	clear: both;
	display: block;
}