@font-face{
	font-family: "Oswald-Bold";
	font-weight: normal;
	font-style: normal;
	src:url("../fonts/Oswald-Bold.ttf");
	src:
	  url("../fonts/Oswald-Bold.ttf"), format("truetype");
}

@font-face{
	font-family: "Oswald-Regular";
	font-weight: normal;
	font-style: normal;
	src:url("../fonts/Oswald-Regular.ttf");
	src:
	  url("../fonts/Oswald-Regular.ttf"), format("truetype");
}

@font-face{
	font-family: "Oswald-Light";
	font-weight: normal;
	font-style: normal;
	src:url("../fonts/Oswald-Light.ttf");
	src:
	  url("../fonts/Oswald-Light.ttf"), format("truetype");
}

@font-face{
	font-family: "Existence";
	font-weight: normal;
	font-style: normal;
	src:url("../fonts/Existence-Light.otf");
	src:
	  url("../fonts/Existence-Light.otf"), format("opentype");
}

@font-face{
	font-family: "AustieBostKittenKlub";
	font-weight: bold;
	font-style: normal;
	src:url("../fonts/AustieBostKittenKlub.ttf");
	src:
	  url("../fonts/AustieBostKittenKlub.ttf"), format("truetype");
}


*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}