
/* 
	This tutorial draws from "Don't Overthink Grids" available at
	http://css-tricks.com/dont-overthink-it-grids/
*/


/*
	With this selector, we are specifying that all objects use
	the border-box model (not the content-box model)
*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*
	Here we are using a 'fancy' css selector that is 
	specifying if the class of an item starts with
	'grid-col-', then we should apply the styling listed
*/
[class^='grid-col-'] {
	float: left;
	padding: 0; 
	text-align: center; /* center the content in this block */
}


/*
	Here we are defining our 50% wide column (for a 10 col grid)
*/
.grid-col-8of100 {
	width: 8%;
	float:right;
}


.grid-col-1of10 {
	width: 13%;
	float:left;
	z-index: 1;

}

.grid-col-10of10 {
	width: 100%;
	z-index: 2;
}

.grid-col-3of10 {
	width: 40%;
	/* position: relative; */
	/* top:-18em; */
	/* left:4em; */
	
}

.grid-col-4of10 {
	width: 40%;
	float:left;

}


.grid-col-20of100{
    width: 30%;
	float: left;
	
    /* position: relative; */
	
    /* left:15em; */
	
    /* top:-3em; */
}

.grid-col-40of100{
    width: 40%;
   
    /* position: relative; */
   
    /* top:-9em; */

}


.grid-col-7of10 {
	width: 70%;
	float: left;
}


.grid-col-8of10 {
	width: 80%;
	float: left;
	/* position: relative; */
	/* top:-10em; */
	/* left:4em; */
}








.grid-col-5of10 {
	width: 50%;
	float:left;
/*	position: absolute;
	top:7em;
	margin: 8em;*/

}


.grid-col-6of10 {
	width: 30%;
	position: absolute;
	top:35em;
	left: 8.5em;

}







.grid-col-10of10 {
	width: 100%;
	position: relative;
	/* top:3em; */
	opacity: 10%;
	
}

.grid-col-10of10 {
	width: 100%;
	
}

.grid-col-9of10 {
	width: 20%;
	position: absolute;
	left:12em;
	top:22em;
	background-color: rgba(255, 237, 221, 0.3);
}



/*
	Here using @media queries, we are specifying when the display
	has a width less than 50em it should collapse the 5/10 columns 
	into one stack (hence width: 100%)
*/


@media (max-width: 50em) {

	.grid-col-8of100 {
		width: 100%;
	}

@media (max-width: 50em) {

	.grid-col-1of10 {
		width: 100%;
	}

}


@media (max-width: 50em) {

	.grid-col-10of10 {
		width: 100%;
	}
}

@media (max-width: 50em) {

	.grid-col-3of10 {
		width: 80%;
	}


}

@media (max-width: 50em) {

.grid-col-4of10{
    width: 40%;
    position: relative;
	left:40em;
}

}


@media (max-width: 50em) {

.grid-col-20of100{
    width: 69%;
    /* position: relative; */
    /* top:-10em; */
    /* left:5em; */
}

}


@media (max-width:50em) {

.grid-col-8of10{
    width: 69%;
    /* position: relative; */
    /* top:-12em; */
    /* left:5em; */
}


@media (max-width: 50em) {

.grid-col-40-of100{
    width: 69%;
    position: relative;
    top:-12em;
    float: left;
    left:18em;
}
}
/*
	Here we are defining our 20% wide column (for 2 columns of a 10 col grid)
/*
	Using further @media queries, we specify that at a width of
	less than 30em it should collapse the 2/10 columns into one stack
*/




/*
	Much like last week, we are clearing the floating items so
	that our 'grid' structure can be stacked on others
*/
.grid:after {
	content: "";
	display: block;
	clear: both;
}



