*, *:after, *:before{
	box-sizing:border-box;
}

body{
	color:black;
	background-color:white;
	font-size: 16px;
	color: #929595;
}

h1{
   font-size: 3.3rem;
   font-weight: 700;
   text-align: left;
   font-family: "AustieBostKittenKlub";
}

h2{
    text-align: left;

    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-family: "Oswald-Bold";
    font-size: 1.8em;
    font-weight: bold;
}

h3{
   text-align: left;

    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-family: "Oswald-Bold";
    font-size: 1.4em;
    font-weight: bold;
}


ul,ol{
    font-size: 1em;
    font-family: "Oswald-Light";
	font-weight: lighter;
}



p,code,figcaption{
    font-size: 1.0em;
    font-family: "Oswald-Light";
    font-weight: lighter;
    text-align: left;
}


.onpage-button-nav, .onpage-button-nav:visited{
    display: inline-block;
    background-color:  #F39873;
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right:auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-size: normal;
    font-family: "Oswald-Bold";
    font-size: 1.6em;
    text-align: center;
}

.onpage-button-nav:hover, .onpage-button-nav:active, .onpage-button-nav:focus{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7em;
}

.login-button-nav, .login-button-nav:visited{
    display: inline-block;
    color: #F39873;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-size: 1.2em;
    text-align: center;
    font-size: normal;
    font-family: "Oswald-Bold";
    float: right;
}

.login-button-nav:hover, .login-button-nav:active, .login-button-nav:focus{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}


.button-nav, .button-nav:visited{
    display: inline-block;
    color: #F39873;
    margin-left: auto;
    margin-right:auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-size: normal;
    font-family: "Oswald-Bold";
    font-size: 1.6em;
    text-align: center;
}

.button-nav:hover, .button-nav:active, .button-nav:focus{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7em;
}


.pprice{
	font-size: 1.4rem;
    font-family: "Oswald-Bold";
    text-align: left;
    font-weight: normal;
}

.psubtitle{
	font-size: 1.1rem;
    font-family: "Oswald-Light";
	font-weight: lighter;
}

.link{
    font-family: Existence;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
    color: #F39873;
    font-weight: bold;
}


.link:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.3rem;
}

.button{
	display: inline-block;
    font-family: "Oswald-Light";
    text-decoration: none;
}


img{
  background-color: rgba(255, 237, 221, 0.3);
}

figure{
    margin: 0;
}

form{
	display: inline-block;
	padding: 1rem;
	width: 40%;
    font-family: "Oswald-Light";
}

label{
    font-size: 1.2rem;
    font-family: "Oswald-Light";
    font-weight: lighter;
    text-align: left;
    display: block;
}

input.submit,input.reset{

/*    background-color: #F39873;
    text-decoration: none;
    margin: 0.25rem 0.5rem;
    font-size: 1.2em;
    border-radius: 0.25rem;
    font-family: Oswald;
    float: left;
    margin-top: 13%;*/
   
}

input.text,input.textarea{
    /*background-color: #F39873;*/
/*    background-color: #D3D1D2;
    color: white;
    border-radius: 0.25rem;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
    display: block;
    width: 200px;*/
}

.text-length{
    font-size: 1em;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
    display: inline-block;
    background-color: #EDEBEC;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
    color: white;
    width: 100%;
}



textarea{
    display: inline-block;
    font-family: Oswald;
    font-weight: lighter;
    /*width: 37.5em;*/
    width: 100%;

    height: 20rem;
    min-width: 10rem;
    min-height: 10rem;
    font-size: 1em;
    text-align: left;
    /*display: block;*/
    resize: width;
    background-color: #EDEBEC;
    margin-top: 1%;
    margin-left: 1.5%;
}






article {
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}


.addtoccart-button{
	background-color: #F39873;
	color: white;
    border-radius: 0.25rem;
    font-family: "Oswald-Light";
	font-weight: normal;
	text-align: center;
	margin: 0.25rem 0.5rem;
	padding: 0.25rem 0.45rem;
	font-size: 1.2em;
	float: right;
}

.addtoccart-button:hover{
	background-color: #F39873;
	color: #C2BFBB;
    border-radius: 0.25rem;
    font-family: "Oswald-Light";
 }



.hide {
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
}



.catlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    width: auto;
    height: auto;
    min-width: 16em;
    min-height: 10em;
    z-index: 3;
}


.logo-name{
    margin-left: auto;
    margin-right: auto;
}

.topimage{
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}



.specialprice{
    font-size: 1.2rem;
    font-family: "Oswald-Light";
    font-weight: lighter;
    text-align: center;
}

.intext-button-nav{
    color: #929595;
    text-align: center;

    font-family: "Oswald-Light";
    font-size: 1.2rem;
    font-weight: bold;
}


.textmiddle{
    z-index: 100;
    color:white;
    margin-left:40em;
    margin-top: -30em;
    max-width: 50em;
    min-width: 20em;
}


.bottomimage{
    margin-left: 10em;
    margin-top: 25em;
}


.button-nav-detail{
    display: inline-block;
    background-color:  #F39873;
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right:auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width: 4em;

    font-family: "Oswald-Light";
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.button-nav-detail:hover{
    font-weight: bold;
    font-size: 1.5rem;
}

.coltext_bottom{
    padding-left: 10em;
    margin-top: 10em;
    margin: center;
}




.cat-foods-product-list-image-layout{
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
 }






.homebottom{     
    margin-top: 5em;
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    margin-left: -5em;
    width: 150%;
}





.p-payment-method{
    font-size: 1.7rem;
    font-family:Abadi MT Condensed Extra Bold;
    text-align: left;
    display: inline-block;
    color: #382843;
}


.col-image-cool{
    position: absolute;
    top:-16em;
    right:30em;
}

.square-box_top{
    position: relative;
    top:30em;
    width: 100%;
    overflow: hidden;
    background: #929595;

}

.square-box_bottom{
    position: relative;
    top:10em;
    width: 100%;
    overflow: hidden;
    background: #929595;

}

.square-box_top{
    position: relative;
    top:65em;
    width: 100%;
    overflow: hidden;
    background: #929595;

}


a{
    text-decoration: none;
}

.checkout-button{
    display: inline-block;
    background-color:  #f3e9c2;
    color: #F39873;
    margin-left: 4.5%;
    margin-right: 4.5%;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-family: "Oswald-Light";
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    float: right;
}

.checkout-button:hover{
    font-weight: bold;
}


img{
    background-color: rgba(255, 237, 221, 0.3);
}


.mainpage-img{
    float: left;
}


.top_Picture_Cover{
  height: 450px;
  width: auto;
  background-size: 100% 160%;
  color: #000; text-shadow: 1px 1px 0 #fff;
  margin-top: 1em;
  position: relative;
  opacity: 10%;
  
}


input.submit,input.reset{
    background-color: #F39873;
    color: white;
    font-family: "Oswald-Light";
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
}

.submit-button-nav{
    display: inline-block;
    background-color: #F39873;
    color: white;

    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;

    font-family: "Oswald-Light";
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    width: 4em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.reset-button-nav{
    display: inline-block;
    background-color: #F39873;
    color: white;

    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;

    font-family: "Oswald-Light";
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 4em;

    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


article {
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}


.image-button-nav-cat-foods, .image-button-nav-cat-foods:visited{
    background: transparent url(../img/Cat_Foods_Icon.jpg) no-repeat;
    display: inline-block;
    position: relative;
    width: 30rem;
    height: 24rem;
    color: white;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-family: MTF Sweet Cheeks;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
}

.image-button-nav-cat-toys, .image-button-nav-cat-toys:visited{
    background: transparent url(../img/Cat_Toys_Icon.png) no-repeat;
    display: inline-block;
    position: relative;
    width: 30rem;
    height: 24rem;
    color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-family: MTF Sweet Cheeks;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
}

.image-button-nav-cat-clothes, .image-button-nav-cat-clothes:visited{

    background: transparent url(../img/Cat_Clothes_Icon.jpg) no-repeat;
    display: inline-block;
    position: relative;
    width: 30rem;
    height: 24rem;
    color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-family: MTF Sweet Cheeks;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
}

.image-button-nav-cat-foods:hover, .image-button-nav-cat-foods:active, .image-button-nav-cat-foods:focus{
    background-color: #FCBCA7;
    color: #C2C0BC;
}

.image-button-nav-cat-toys:hover, .image-button-nav-cat-toys:active, .image-button-nav-cat-toys:focus{
    background-color: #FCBCA7;
    color: #C2C0BC;
}

.image-button-nav-cat-clothes:hover, .image-button-nav-cat-clothes:active, .image-button-nav-cat-clothes:focus{
    background-color: #FCBCA7;
    color: #C2C0BC;
}


 .topmenu{
    margin-left: 8em;
    margin-top: 0em;
    margin-right: 8em;
 }

 .login-methods{
    margin-right: 8em;
    margin-top: 2em;
    margin-left: 8em;
 }

 .cat-foods-image-button-layout{
    margin-left: 8em;
    margin-top: 10em;
 }

 .cat-toys-image-button-layout{
    margin-left: 8em;
 }

 .cat-clothes-image-button-layout{
    margin-left: 8em;
 }


.onpage-button-nav, .onpage-button-nav:visited{
    display: inline-block;
    background-color:  #F39873;
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right:auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;

    font-size: normal;
    font-family: "Oswald-Bold";
    font-size: 1.7em;
    text-align: center;

}

.onpage-button-nav:hover, .onpage-button-nav:active, .onpage-button-nav:focus{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8em;

}

.login-button-nav, .login-button-nav:visited{
    display: inline-block;
    color: #F39873;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-size: 1.2em;
    text-align: center;
    font-size: normal;
    font-family: "Oswald-Bold";
    float: right;
}

.login-button-nav:hover, .login-button-nav:active, .login-button-nav:focus{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}


.button-nav, .button-nav:visited{
    display: inline-block;
    color: #F39873;
    margin-left: auto;
    margin-right:auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-size: normal;
    font-family: "Oswald-Bold";
    font-size: 1.7em;
    text-align: center;
}

.button-nav:hover, .button-nav:active, .button-nav:focus{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8em;
}

.logo-image-button, .logo-image-button:visited{
    background: transparent url(../img/catlogo.png) no-repeat;
    display: inline-block;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
    margin-bottom: 2em;
    width: auto;
    height: auto;
    min-width: 26.4em;
    min-height: 16em;
    z-index: 3;
    float: left;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-family: MTF Sweet Cheeks;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
}

.logo-image-button:hover, .logo-image-button:active, .logo-image-button:focus{
    opacity: 0.5;
}


.checkout-button{
    display: inline-block;
    background-color:  #f3e9c2;
    color: #F39873;
    margin-left: 6%;
    margin-right: 6%;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-family: "Oswald-Light";
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    float: right;
}

.checkout-button:hover{
    font-weight: bold;
}

.remove-button{
    display: inline-block;
    background-color:  #f3e9c2;
    color: #F39873;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width: 30%;
    height: 30%;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
/*  width:100%;*/
    font-family: "Oswald-Light";
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
}

.remove-button:hover{
    font-weight: bold;
    font-size: 1.4rem;
}

.Whiskas_large{
    margin-top: 5em;
    margin-left: 8em;
    margin-right: 8em;
}


.customer-reviews{
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 5em;
}

.comments{
    margin-top: 5em;
    margin-left: 8em;
    margin-right: 8em;
}

.product-image{
    display: inline-block;
    width: 13em;
    height: 13em;
    min-width: 8em;
    min-height: 8em;
}


.pprice_comments{
    font-size: 1.4rem;
    font-family: "Oswald-Light";
    text-align: left;
    font-weight: normal;
    margin-top: 1em;

}

.rating{
    color: #F39873;
    font-size: 1.3em;
    position: relative;
}

.specialprice-title{
    font-size: 1.4rem;
    font-family: "Oswald-Bold";
    text-align: left;
    font-weight: normal;
}

.pprice{
    font-size: 1.2rem;
    font-family: "Oswald-Bold";
    text-align: left;
    font-weight: normal;
}

.sdetail{
    font-size: 1rem;
    font-family: "Oswald-Light";
    font-weight: lighter;
    text-align: left;
}

.payment-figure{
    margin: 0;
    text-align: left;
}

.payment-methods-layout{
    margin-right: 8em;
    margin-top: 3em;
    margin-left: 8em;
 }

 .whiskas1{
    margin-left: 8em;
    margin-right: 5em;
    margin-top: 3em;
}

.whiskas2{
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 3em;
}

.whiskas3{
    margin-left: 5em;
    margin-right: 8em;
    margin-top: 3em;
}

.whiskas4{
    margin-left: 8em;
    margin-right: 5em;
    margin-top: 3em;
}

.whiskas5{
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 3em;
}

.whiskas6{
    margin-left: 5em;
    margin-right: 8em;
    margin-top: 3em;
}

.Whiskas_large{
    margin-top: 5em;
    margin-left: 3em;
    margin-right: 3em;
}

.button-nav-cart{
    display: inline-block;
    background-color:  #F39873;
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width: 6em;

    font-family: "Oswald-Light";
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.button-nav-cart:hover{
    font-weight: bold;
    font-size: 1.5rem;
}


.catfoodintroduction{
    margin-top: 5em;
    margin-left: 4em;
    margin-right: 8em;
}

.reference{
    margin-right: 8em;
    margin-top: 3em;
}

.copyright{
    font-size: 0.9rem;
    font-family: "Oswald-Light";
    font-weight: lighter;
    text-align: left;
}


.button-nav-detail{
    display: inline-block;
    background-color:  #F39873;
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width: 6em;

    font-family: "Oswald-Light";
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.button-nav-detail:hover{
    font-weight: bold;
    font-size: 1.5rem;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
}

.payment-icon{
    width: 13em; 
    height: 3em;
}