*, *:after, *:before{
  box-sizing:border-box;
}


body{
  color:black;
  background-color:white;
  font-size: 16px;
  color:#929595;
  position: relative;
}

h1{
   font-size: 3.3rem;
   font-weight: 700;
   font-family: Austie Bost Kitten Klub;
   text-align: left;
/* color: #F39873;*/
/* color: white;*/
}

h2{
  text-align: left;

  display: inline-block;
  margin-left: auto;
  margin-right:auto;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  width:100%;
  font-family:Oswald;
  font-size: 1.8rem;
  font-weight: bold;
}

p,code,figcaption{
    font-size: 1rem;
    font-family: Oswald;
/*  font-family: thin;*/
    /* first # is top and bottom, second # is left and right margin */
    font-weight: lighter;
    text-align: left;
}

.product-image{
    display: inline-block;
/*  position: relative;*/
    width: 13em;
    height: 13em;
    min-width: 8em;
    min-height: 8em;
}

.whiskas1{
    margin-left: 8em;
    margin-right: 0em;
    margin-top: 2em;
    text-align: left;
}

.whiskas2{
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    text-align: left;
}

.whiskas3{
    margin-left: 0em;
    margin-right: 8em;
    margin-top: 2em;
    text-align: left;
}


.specialprice-title{
    font-size: 1.4rem;
    font-family: Oswald;
    text-align: left;
    font-weight: normal;
/*  font-weight: lighter;*/
}

.pprice{
    font-size: 1.4rem;
    font-family: Oswald;
    text-align: left;
    font-weight: normal;
}

.sdetail{
    font-size: 1rem;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
}

.payment-figure{
    margin: 0;
    text-align: left;
}

.payment-methods-layout{
    margin-right: 8em;
    margin-top: 8em;
    margin-left: 8em;
 }

.copyright{
    font-size: 0.9rem;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
    margin-right: 8em;
    margin-top: 3em;
    margin-left: 8em;
}

.cat-food-1-image{
    background: transparent url(../img/Cat_Food_1.jpg) no-repeat;
    background-position: center center;
    display: block;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width: 25em;
    height: 35em;
    position: relative;
    top: 0;
    left: 0;
}

.onpage-button-nav, .onpage-button-nav:visited{
    display: inline-block;
    background-color:  #F39873;
/*  color: #F39873;*/
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right:auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;

    font-size: normal;
    font-family:Oswald;
    font-size: 1.6em;
    text-align: center;
/*  opacity: 0.7;*/
}

.onpage-button-nav:hover, .onpage-button-nav:active, .onpage-button-nav:focus{
/*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7em;
/*  opacity: 0.7;*/
}

.login-button-nav, .login-button-nav:visited{
    display: inline-block;
    /*background-color:  #F39873;*/
    color: #F39873;
    /*border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
/*  border-radius:10px;*/
/*  border-radius: 0.25rem;*/
/*    font-family: BAD SPIRIT;*/
    font-size: 1.2em;
    text-align: center;
    font-size: normal;
    font-family:Oswald;
    float: right;
}

.login-button-nav:hover, .login-button-nav:active, .login-button-nav:focus{
/*  border-radius: 0.25rem;*/
/*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}


.button-nav, .button-nav:visited{
    display: inline-block;
    /*background-color:  #F39873;*/
    color: #F39873;
    margin-left: auto;
    margin-right:auto;
    /*border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
/*  border-radius:10px;*/
/*  border-radius: 0.25rem;*/
/*    font-family: BAD SPIRIT;*/
    font-size: normal;
    font-family:Oswald;
    font-size: 1.6em;
    text-align: center;
}

.button-nav:hover, .button-nav:active, .button-nav:focus{
    /*  background-color: #FCBCA7;
    color: #C2C0BC;*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7em;
}

/* set top main navigation layout */
 .topmenu{
    margin-left: 8em;
    margin-top: 0em;
    margin-right: 8em;
/*  opacity: 0.5;*/
 }

 .login-methods{
    margin-right: 8em;
    margin-top: 3%;
    margin-left: 8em;
    margin-bottom: 2em;
/*  opacity: 0.5;*/
/*  position: absolute;*/
 }

 input.submit,input.reset{
    background-color: #F39873;
    color: white;
/*  border-radius: 0.25rem;*/
    font-family:Oswald;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    /*border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
}

input.text,textarea{
    background-color: #F39873;
    color: white;
/*  border-radius: 0.25rem;*/
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
}

input.submit:hover,input.reset:,input.text:hover,textarea:hover{
    text-decoration: none;
    font-weight: bold;
}

input.submitcomment{
    background-color: #F39873;
    color: white;
/*  border-radius: 0.25rem;*/
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
    font-size: 0.7em;
    /*border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;*/
    float: right;
}

input.submitcomment{
    background-color: #FCBCA7;
    color: white;
    text-decoration: none;
}


input{

}

input:hover{
    text-decoration: none;
    font-weight: bold;
}

textarea{
    background-color: white;
    color: white;
    width: 72.5rem;
    width: 100%;
    min-width: 10em;
    min-height: 10rem;
    font-size: 0.9rem;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
    display: block;
    resize: width;
}

article {
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    opacity: 0.5;
}

figure{
    margin: 0;
}

form{
    background-color: #FFFDFA;
    display: inline-block;
    padding: 1rem;
    width: 40%
    font-family: Abadi MT Condensed Light;
}

label{
    font-size: 1.2rem;
    font-family: Oswald;
    font-weight: lighter;
    text-align: left;
    display: block;
}

nav .button{
    background-color: #F39873;
    color: white;
/*  border-radius: 0.25rem;*/
/*  margin: 0.5rem 0.25rem 0.75rem 0.8rem;*/
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.45rem;
    font-family: MTF Sweet Cheeks;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
}

nav .button:hover{
    background-color: #F39873;
    color: #C2BFBB;
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/*responsive image styles*/
img{
    background-color: rgba(255, 237, 221, 0.3);
}


.link{
    font-size: 0.9rem;
    font-family: MTF Sweet Cheeks;
/*  font-family: thin;*/
/*  first # is top and bottom, second # is left and right margin */
    margin: 0.25rem 0.5rem;
    color: #F39873;;
}

.button{
    display: inline-block;
    font-family: MTF Sweet Cheeks;

    text-decoration: none;
}

.button-nav-detail{
    display: inline-block;
    background-color:  #F39873;
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width: 6em;

    font-family:Oswald;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.button-nav-detail:hover{
    font-weight: bold;
    font-size: 1.5rem;
}

.button-nav-cart{
    display: inline-block;
    background-color:  #F39873;
    color: white;
    text-decoration: none;
    
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width: 6em;

    font-family:Oswald;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.button-nav-cart:hover{
    font-weight: bold;
    font-size: 1.5rem;
}

.logo-name{
    margin-left: auto;
    margin-right: auto;
/*  position: absolute;*/
}








input{
    background-color: #F39873;
    color: white;
    font-size: 1.2em;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #929595;
}

input.number-of-products-layout{
    margin-top: 15%;

}

.shopping-cart-layout {
  display: block;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  margin-left: 2em;
}

.shopping-cart-content-layout{
  display: inline-block;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

.shopping-cart-layout thead th {
  padding: 8px 0;
  font-weight: bold;
}

.shopping-cart-layout thead th.first {
  width: 25%;
}
.shopping-cart-layout thead th.second {
  width: 35%;
}
.shopping-cart-layout thead th.third {
  width: 20%;
}
.shopping-cart-layout thead th.fourth {
  width: 20%;
}
/*#shopping-cart thead th.fifth {
  width: 175px;
}*/

.shopping-cart-layout tbody td {
  text-align: center;
  margin-top: 4px;
}

tr.shopping-cart-list {
  height: 65px;
  line-height: 65px;
/*border-bottom: 1px solid #d7dbe0;*/
}

/*.remove {
  cursor: pointer;
  position: relative;
  right: 12px;
  top: 5px;
}*/

.hide {
    visibility: hidden;
    opacity: 0;
}

.product-image{
    display: inline-block;
/*  position: relative;*/
    width: 13em;
    height: 13em;
    min-width: 8em;
    min-height: 8em;
}



/** submit btn **/
tr.checkout-area {
/*  border-top: 1px solid #929595;
  border-bottom: 1px solid #929595;*/
}
td.checkout {
  width: 100%;
  text-align: left;
}

th.specialprice-title{
    font-size: 1.6rem;
    font-family: Oswald;
    text-align: center;
    font-weight: normal;
/*  font-weight: lighter;*/
}

td.specialprice-title{
    font-size: 1.2rem;
    font-family: Oswald;
    text-align: center;
    font-weight: normal;
/*  min-width: 20em;*/
/*  font-weight: lighter;*/
}

td.shipping-title{
    font-size: 1.2rem;
    font-family: Oswald;
    text-align: center;
    font-weight: normal;
    color: #F39873;
    margin-right: 10em;
    display: table-cell;
/*  font-weight: lighter;*/
}

td.totalprice-title{
    font-size: 1.4rem;
    font-family: Oswald;
    text-align: center;
    font-weight: bold;;
/*  font-weight: lighter;*/
}

td.pprice{
    font-size: 1.2rem;
    font-family: Oswald;
    text-align: center;
    font-weight: normal;
}

td.shipping-price{
    font-size: 1.2rem;
    font-family: Oswald;
    text-align: center;
    font-weight: normal;
    color: #F39873;
}

td.total-price{
    font-size: 1.4rem;
    font-family: Oswald;
    text-align: center;
    font-weight: bold;
}

td.sdetail{
    font-size: 1rem;
    font-family: Oswald;
    font-weight: lighter;
    text-align: center;
}

.checkout-button{
    display: inline-block;
    background-color:  #F39873;
    color: white;
    margin-left: 5.5%;
    margin-right: 5.5%;
    padding: 0.3em 0.3em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
/*  width:100%;*/
    font-family:Oswald;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    float: right;
}

.checkout-button:hover{
    font-weight: bold;
    font-size: 1.7rem;
}

.remove-button{
    display: inline-block;
    background-color:  #F39873;
    color: white;
    text-decoration: none;
    width: 1.5em;
    height: auto;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
/*  width:100%;*/
    font-family:Oswald;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    margin-top: 2%;
    margin-right: 10%;
}

.remove-button:hover{
    font-weight: bold;
    font-size: 2rem;
}

.subtitle{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width:100%;
    font-family:Oswald;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-top: 1%;
}


table {
    display: table;
    border-collapse: collapse;
/*  border-collapse: separate;*/
    border-spacing: 2px;
/*  border-spacing: 0; */
}


.Whiskas_large{
    margin-top: 5em;
    margin-left: 3em;
    margin-right: 3em;
    opacity: 0.5;
    position: relative;
    z-index: -1;
}

.catfoodintroduction{
    margin-top: 5em;
    margin-left: 4em;
    margin-right: 8em;
    opacity: 0.5;
    position: relative;
    z-index: -1;
}

.customer-reviews{
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 5em;
    opacity: 0.5;
    position: relative;
    z-index: -1;
}

.comments{
    margin-top: 5em;
    margin-left: 8em;
    margin-right: 8em;
    opacity: 0.5;
}

#shopping-cart-page {
  display: block;
  background: #fff;
  padding: 15px 0;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  margin-left: 8em;
  margin-right: 8em; 
  position: absolute;
  z-index: 1;
  top: 28%;
  left: 0;
  width: auto;
  height: auto;
}

.customer-reviews-texts_secondcomments{
    margin-top: 3em;
}

.payment-icon{
    width: 13em; 
    height: 3em;
}