/*
    With this selector, we are specifying that all objects use
    the border-box model (not the content-box model)
*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
    Here we are using a 'fancy' css selector that is 
    specifying if the class of an item starts with
    'grid-col-', then we should apply the styling listed
*/
[class^='grid-col-'] {
    float: left;
    padding: 0; 
    text-align: center; /* center the content in this block */
}


.grid-col-8of100 {
    width: 8%;
}

.grid-col-100of100 {
    width: 100%;
}

.grid-col-25of100 {
    width: 25%;
}

.grid-col-10of10 {
    width: 100%;
}

.grid-col-3of10 {
    width: 33%;  
}

.grid-col-4of10 {
    width: 40%;    
}

.grid-col-30of100 {
    width: 30%;
}

.grid-col-14of100 {
    width: 14%;
}

.grid-col-33of100{
    width: 33%;
}

.grid-col-40of100{
    width: 40%;
}

.grid-col-20of100{
    width: 20%;
}

.grid-col-5of100{
    width: 5%;
}
.grid-col-10of100 {
    width: 10%;
}

.grid-col-50of100 {
    width: 50%;
}

/*
    Here using @media queries, we are specifying when the display
    has a width less than 50em it should collapse the 5/10 columns 
    into one stack (hence width: 100%)
*/


@media (max-width: 57em) {

    .grid-col-25of100 {
        width: 100%;
        padding-bottom: 0.8em;
    }
}

@media (max-width: 60em) {

    .grid-col-8of100 {
        width: 100%;
        padding-bottom: 0.5em;
    }
}


@media (max-width: 50em) {

    .grid-col-10of10 {
        width: 100%;
    }
}

@media (max-width:60em) {

    .grid-col-4of10{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: auto; 
    }
}

@media (max-width:60em) {

    .topmenu{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

@media (max-width: 57em) {

    .payment-methods-layout{
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 5em;
    }

}

@media (max-width: 62em) {

    .grid-col-40of100 {
        width: 100%;
        margin-left: auto;
        margin-left: auto;
    }

    .grid-col-20of100{
        width: 100%;
        margin-left: auto;
        margin-left: auto;
    }

    .grid-col-33of100{
        width: 100%;
    }


    article {
        text-align: center;
        display: block;
    }

}

@media (max-width: 45em) {


    .topmenu{
        margin-left: 3em;
        margin-top: 0em;
        margin-right: 3em;
    }

}



@media (max-width:40em) {

    .grid-col-4of10{
        width: 100%;
    }
}


/*@media (max-width:74em) {

    .display_per_page_master_class{
        width: 100%;
    }

    .button-nav-pages{
        margin-left: -1.2em;
        margin-top: 0.6em;
    }
}

@media (max-width:73em) {

    .grid-col-10of100{
        width: 20%;
    }
}*/


@media (max-width:57em) {


    .button-nav-pages{
        margin-left: 190%;
        margin-top: -3em;

     }


     .trangle_left{
        margin-left: 770%;
        margin-top: -3.5em;

     }

     .trangle_right{
        margin-left: 1150%;
        margin-top: -3.5em;

     }
}


@media (max-width: 57em) {

    .grid-col-3of10 {
        width: 100%;
    }

    .product-list-title-layout{
        margin-top: 3em;
        margin-left: 8em;
        margin-right: 8em;
    }

    .payment-methods-layout{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 5em;
    }

    .whiskas1{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 3em;
    }

    .whiskas2{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas3{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas4{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas5{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas6{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas7{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas8{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas9{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }
}

@media (max-width: 40em) {

    .product-list-title-layout{
        margin-top: 3em;
        margin-left: 3em;
        margin-right: 3em;
    }

    .payment-methods-layout{
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 5em;
    }

    .whiskas1{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas2{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas3{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas4{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas5{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas6{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas7{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas8{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas9{
        margin-left: 3em;
        margin-right: 3em;
    }

    .copyright{
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 3em;
    }
}


/*
    Much like last week, we are clearing the floating items so
    that our 'grid' structure can be stacked on others
*/
.grid:after {
    content: "";
    display: block;
    clear: both;
}