
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


[class^='grid-col-'] {
    float: left;
    padding: 0; 
    text-align: center; 
}


.grid-col-8of100 {
    width: 8%;
    float:right;
}

.grid-col-100of100 {
    width: 100%;
}

.grid-col-25of100 {
    width: 25%;
}

.grid-col-10of10 {
    width: 100%;
}

.grid-col-3of10 {
    width: 33%;    
}

.grid-col-4of10 {
    width: 40%;    
}


.grid-col-84of100 {
    width: 84%;
}

.grid-col-33of100{
    width: 33%;
}

.grid-col-5of10{
    width: 50%;
}

.grid-col-35of100{
    width: 35%;
}

.grid-col-65of100{
    width: 65%;
}



@media (max-width: 57em) {

    .grid-col-25of100 {
        width: 100%;
        padding-bottom: 0.8em;
    }
}

@media (max-width: 60em) {

    .grid-col-8of100 {
        width: 100%;
        padding-bottom: 0.5em;
    }
}


@media (max-width: 50em) {

    .grid-col-10of10 {
        width: 100%;
    }
}

@media (max-width:60em) {

    .grid-col-4of10{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: auto; 
    }
}

@media (max-width:60em) {

    .topmenu{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

@media (max-width: 62em) {

    .grid-col-40of100 {
        width: 100%;
        margin-left: auto;
        margin-left: auto;
    }

    .grid-col-20of100{
        width: 100%;
        margin-left: auto;
        margin-left: auto;
    }

    .grid-col-33of100{
        width: 100%;
    }


    article {
        text-align: center;
        display: block;
    }

}

@media (max-width: 45em) {


    .topmenu{
        margin-left: 3em;
        margin-top: 0em;
        margin-right: 3em;
    }

}



@media (max-width:40em) {

    .grid-col-4of10{
        width: 100%;
    }
}


@media (max-width:57em) {


    .button-nav-pages{
        margin-left: 190%;
        margin-top: -3em;

     }

}


@media (max-width: 57em) {

    .grid-col-3of10 {
        width: 100%;
    }

    .product-list-title-layout{
        margin-top: 3em;
        margin-left: 8em;
        margin-right: 8em;
    }

    .payment-methods-layout{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas1{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 3em;
    }

    .whiskas2{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas3{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas4{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas5{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas6{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas7{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas8{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }

    .whiskas9{
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 8em;
    }
}

@media (max-width: 40em) {

    .product-list-title-layout{
        margin-top: 3em;
        margin-left: 3em;
        margin-right: 3em;
    }

    .payment-methods-layout{
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 8em;
    }

    .whiskas1{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas2{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas3{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas4{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas5{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas6{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas7{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas8{
        margin-left: 3em;
        margin-right: 3em;
    }

    .whiskas9{
        margin-left: 3em;
        margin-right: 3em;
    }

    .copyright{
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 3em;
    }

}

@media (max-width: 70em) {

    .grid-col-35of100{
        width: 35%;
    }

    .grid-col-65of100{
        width: 65%;
    }

    .catfoodintroduction{
        margin-left: 8em;
        margin-right: 8em;
    }
}

@media (max-width: 60em) {

    .grid-col-35of100{
        width: 100%;
    }

    .grid-col-65of100{
        width: 100%;
    }

    .Whiskas_large{
        margin-top: 3em;
        margin-left: 0em;
        margin-right: 8em;
        width: 100%;
        height: auto;
    }

    .catfoodintroduction{
        margin-top: 5em;
        margin-left: 8em;
        margin-right: 8em;
    }
}

@media (max-width: 40em) {

    .Whiskas_large{
        margin-top: 3em;
        margin-left: 0em;
        margin-right: 8em;
        width: 100%;
        height: auto;
    }

    .catfoodintroduction{
        margin-top: 5em;
        margin-left: 3em;
        margin-right: 3em;
    }

    .topmenu{
        margin-left: 3em;
        margin-top: 0em;
        margin-right: 3em;
    }

    .customer-reviews{
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 5em;
    }
}

@media (max-width: 25em) {

    .Whiskas_large{
        margin-top: 3em;
        margin-left: -2em;
        margin-right: 8em;
        width: 100%;
        height: auto;
    }

    .button-nav-cart{
        margin-left: 2em;
        margin-right: auto;
    }
}





.grid:after {
    content: "";
    display: block;
    clear: both;
}